.activities {
    margin: 100px 15vw 0px 15vw;
}

.card .card-body .text-end a {
    border: 2px solid #044e2e;
    background: #044e2e;
    color: white;
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btn:hover span {
    padding-right: 25px;
}
.btn:hover span:after {
    opacity: 1;
    right: 0;
}