*{
    margin: 0;
    padding: 0;
}

/* navbar style */
.navbar{
    background-color:#004225;
}
.dropdown:hover .dropdown-menu{
    display: block;
}


/* hero section style */
.hero-bg-color{
    background: linear-gradient(to bottom, #004225, #008B8B);
    color:#FFFFFF; /* Assuming your text color is black */
    /* Additional styling for your hero section */
    padding: 50px; /* Adjust as needed */
    text-align: center; /* Center align text */
}
.hero-section{
    margin-top: 5rem;
    padding-bottom: 160px;
    /* height: auto; */
    position: relative;
}
.hero-text{
    text-align: justify;
}
.custom-shape-divider-bottom-1710551930 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -1px;
}

.custom-shape-divider-bottom-1710551930 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 171px;
}

.custom-shape-divider-bottom-1710551930 .shape-fill {
    fill: #FFFFFF;
}
/* margin-bottom: -1px; */
/* carousel section style */
.carousel-section{
    background-color:  #FFFFFF;
    max-width: 45vw;
    margin: auto;
    border:5px solid #007C8C;
    border-radius: 4%;
}
.carousel-section-inner{
    border-radius: 3%;
}
@media only screen and (max-width:1000px){
    .carousel-section{
        max-width: 90vw;
        margin: auto;
    }
    .carousel-section-inner{
        border-radius: 3%;
    }
}

/* footer section style */
.myFotter{
    position: relative;
    background-color:#004225;
    padding-bottom: 5px;
}
.footer-logo-img{
    height: auto;
    max-width: 65%;
}
.footer-end{
    margin-bottom: 0;
}
.custom-shape-divider-top-1710552086 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: -1px;
}

.custom-shape-divider-top-1710552086 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.custom-shape-divider-top-1710552086 .shape-fill {
    fill: #FFFFFF;
}

footer b hr{
    color: #fff;
}
/* style for general members page */
.mem-tab{
    margin: 100px 0px;
}
/* style for cosntitution page */
.constitution{
    margin: 100px 15vw 0px  15vw;
}

.brief-content{
    text-align: justify;
    margin: 70px 0px;
}

/* style for advisors page */
.advisors{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.adv-member {
    position: relative;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
}

.adv-member .adv-mem-pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.adv-member .adv-mem-info {
    padding-left: 15px;
}

.adv-member .adv-mem-info h5 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #007C8C;
}

.adv-member .adv-mem-info span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.adv-member .adv-mem-info span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #007C8C;
    bottom: 0;
    left: 0;
}
.adv-member .adv-mem-info p{
    margin: 10px 0 0 0;
    font-size: 14px;
}

.adv-member .adv-mem-info .adv-mem-social a svg{
    margin: 6px;       
}
