* {
    margin: 0;
    padding: 0;
}

/* navbar style */
.navbar {
    background-color: #004225;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #044e2e;
}


/* hero section style */
.hero-bg-color {
    background: linear-gradient(to bottom, #004225, #008B8B);
    color: #FFFFFF;
    /* Assuming your text color is black */
    /* Additional styling for your hero section */
    padding: 50px;
    /* Adjust as needed */
    text-align: center;
    /* Center align text */
}

.hero-section {
    margin-top: 5rem;
    padding-bottom: 160px;
    /* height: auto; */
    position: relative;
}

.hero-text {
    text-align: justify;
}

.hero-btn .btn {
    background-color: #FFFFFF;
    /* White button color */
    color: #004225;
    /* Dark green text color */
    padding: 10px 20px;
    /* Adjust as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

.hero-btn .btn:hover {
    background-color: #E0E0E0;
    /* Light gray on hover */
    color: #004225;
    /* Dark green text color */
}

.custom-shape-divider-bottom-1710551930 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -1px;
}

.custom-shape-divider-bottom-1710551930 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 171px;
}

.custom-shape-divider-bottom-1710551930 .shape-fill {
    fill: #FFFFFF;
}

/* carousel section style */
.carousel-section {
    background-color: #FFFFFF;
    max-width: 45vw;
    margin: auto;
    border: 5px solid #007C8C;
    border-radius: 4%;
}

.carousel-section-inner {
    border-radius: 3%;
}


@media only screen and (max-width:1000px) {
    .carousel-section {
        max-width: 90vw;
        margin: auto;
    }

    .carousel-section-inner {
        border-radius: 3%;
    }
}


/* style for advisor's speech starts */
.advisor{
    width: 500px;
    text-align: justify;
    border-radius: 5px;
    background-color: aliceblue;
    transition: all 0.3s;
}
.advisor:hover{
    transform: scale(1.05);
}
.advisor-img{
    overflow: hidden;
    width: 280px;
    border-radius: 50%;
}
/* style for advisor's speech ends */


/* style for members number section starts */
.mem-num p {
    margin: 0px;
}
.mem-num {
    padding: 50px 0px;
    background-color: #004225;
    color: white;
    overflow-x: hidden;
}
/* style for members number section ends*/

/* footer section style */
.myFotter {
    position: relative;
    background-color: #004225;
    padding-bottom: 5px;
    color: #FFFFFF;
}

.footer-logo-img {
    height: auto;
    max-width: 65%;
}

.footer-end {
    margin-bottom: 0;
}

.custom-shape-divider-top-1710552086 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: -1px;
}

.custom-shape-divider-top-1710552086 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.custom-shape-divider-top-1710552086 .shape-fill {
    fill: #FFFFFF;
}

footer b hr {
    color: #fff;
}

/* style for general members page */
.mem-tab {
    margin: 100px 0px;
}

tbody tr {
    transition: all 0.4s;
}

tbody tr:hover {
    transform: scale(1.02);
    background-color: snow;
}

/* style for constitution page */
.constitution {
    margin: 100px 15vw 0px 15vw;
}

.brief-content {
    text-align: justify;
    margin: 70px 0px;
}

/* style for advisors page */
.advisors {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.adv-member {
    position: relative;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
    transition: all 0.4s;
}

.adv-member .adv-mem-pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.adv-member .adv-mem-info {
    padding-left: 15px;
}

.adv-member .adv-mem-info h5 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #007C8C;
}

.adv-member .adv-mem-info span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.adv-member .adv-mem-info p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.adv-member .adv-mem-info .adv-mem-social a svg {
    margin: 6px;

}

.adv-member:hover {
    transform: scale(1.05);
    background: aliceblue;
}


/* style for executive members */
.executive {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.exe-member {
    position: relative;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
    transition: all 0.4s;
}

.exe-member .exe-mem-pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.exe-member .exe-mem-info {
    padding-left: 15px;
}

.exe-member .exe-mem-info h5 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #007C8C;
}

.exe-member .exe-mem-info span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.exe-member .exe-mem-info p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.exe-member .exe-mem-info p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.exe-member .exe-mem-info .exe-mem-social a svg {
    margin: 6px;

}

.exe-member:hover {
    transform: scale(1.05);
    background: aliceblue;
}
 
/* style for activities page */
.activities {
    margin: 100px 15vw 0px 15vw;
}
.card .card-body .text-end a{
    border: 2px solid #044e2e;
    background: #044e2e;
    color: white;
}
.card .card-body .text-end a:hover{
    background: white;
    color: #044e2e;
    }